.conteiner {
  height: 100vh;
  background-color: aqua;
  display: grid;
  grid-template: 50px auto 50px/auto 1fr;
  grid-template-areas: "aside header" "aside section" "aside footer";
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
  width: 250px;
  background-color: burlywood;
  transition: all .5s;
}

.section {
  grid-area: section;
}

.footer {
  grid-area: footer;
}